<form class="message-form clearfix" {{action "submitMessage" on="submit"}}>
  {{input type="text" value=input class="message-input"}}
  <button type="submit" class="message-submit">Send</button>
</form>
