.message-list {
  display: table;
  width: 100%;
  .message-list-wrapper {
    display: table-cell;
    vertical-align: bottom;
    height: 300px;
    width: 100%;
    border: 1px solid #ddd;
    background: #FFF;
    .message-list-content {
      max-height: 300px;
      overflow: auto;
    }
  }
}
